
/**
 * Userdashborad style
 */
.maintable,
.maintable table
{ 
  border: 1px solid #cdcdcd;
}

.maintable h2 { 
  color:#2F416F;
  font-size:100%;
  font-weight:bold;
  text-decoration:underline !important;
}

.unset_blocks { 
 width: 30%;
 height: 325px;
}

.block_list {
  margin: 0 0 0 10px;
  width: 90%;
}

.block_list td {
background-color:#CCCCCC;
border: 1px solid gray;
}

.layout td {
  border: 1px dotted gray;
  height: 100px;
  color: green;
} 

.dropped {
  position: inherit;
  left:0px !important;
  top:0px !important;
  color: #000000;
  background-color: #cecece;
}

.draggable:hover { 
  cursor: move;
  list-style: none;
}

.droppable { 
  
  width: auto;
  min-height: 20px;
  padding-top: 15px !important; 
  padding-bottom: 15px !important; 
}

.layout td ul {  
  list-style: none;
}

.unset_blocks li { 
 width: 100px;
 font-size: 10px;
 color:red;
}
  
.layout td ul li {  
 margin: 1px !important;
 width: 150px;
}

li.dropped {  
  border: 1px dotted gray;
}

li.dropped a.close{
  margin-left: 10px;
}  



